
*{
	font-family: 'Dosis', sans-serif;
	color:#515151;
}

#bl {
	grid-area: bl;
	text-align: center;
	overflow-y: scroll;
	max-height: 450px;
}

#wl {
	grid-area: wl;
	text-align: center;
	max-height: 450px;
	overflow-y: scroll;
}

#item3 {
	grid-area: bladd;
	text-align: center;
}

#item4 {
	grid-area: wladd;
	text-align: center;
}

#item5 {
	grid-area: message;
	text-align: center;
}

#item6 {
	grid-area: save;
	text-align: center;
}

.container{
	display: grid;
	grid-template-areas:
	'message message message message message message'
	'bl bl bl wl wl wl'
	'bladd bladd save save wladd wladd';
	grid-gap: 20px;
	/*background-color: #2196F3;*/
	padding: 10px;
}

.delete{
	color:#bc2122;
}
textarea, .domain_regex{
	font-family: sans-serif;
	width: 100%;
	border:1px solid #515151;
}

a{
	padding:3px;
	border:1px solid #fff;
	text-decoration:none;
	color:#ea174c;
}

a:hover{
	text-decoration:none;
	color:#0c0003;
}
